
<p>
  <strong>Questions</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question.content %>
</p>


<%= link_to "True", results_question_path(@question, score: 1) %>
<%= link_to "False", results_question_path(@question, score: 0) %>

<%= link_to 'Back', questions_path %>
